.text_bold {
	font-weight: bold !important;
}

.sapThemeText {
	font-weight: bold !important;
	color: red !important;
} 


.table_padding {
	padding-bottom: 1em;
}

.headerhide .sapCaUiFUHeader {
	display: none !important;
}

.padding_left {
	padding-left: 1.5em !important;
}

.padding_bottom {
	padding-bottom: 0.5em !important;
}

.Hbox_padding {
	padding-bottom: 0.5em !important;
	padding-top: 0.5em !important;
	padding-left: 1.5em !important;
}

.headerBold .sapMListHdr{
	font-weight: bold !important;
}

.sapUiSimpleForm .sapUiFormM .sapUiRGLContainerCont
{
	padding-bottom : 0;
}

.sapThemeFontSize
{
    font-size : 1.25rem !important;
}
.sapThemeFont
{
	font-size : 1.1rem !important;
}
.objectIdentifier_text .sapMObjectIdentifierTextBellow 
{ 
    margin-top : 0 !important; 
} 
 
.objIdentifier_margin 
{ 
    margin-top : .5rem !important; 
}

.formTitleAlign {
    font-size: 1.25rem !important;
    margin-left: 1rem !important;
}